$text_c : #121212;
$border_c : #b6b6b6;
$faqfont : Rubik;


@mixin number{
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  margin-left: -3em;


  // width: 21px;
  // height: 33px;
  // display: inline-block;
  // margin-right: 10px;
}

body{
  background: #f7f7f7;
}

.section{
  color: $text_c;
  background: #f7f7f7;
  padding: 25px 0;
  position: relative;
  font-family: $faqfont;

}


.whiter {
  padding-right: 50px;
  padding-left: 50px;
  background: white;
  *{
      border: 0px;
      background: #fff ;
      color: $text_c;
}
}

.greyer{
  background: #eeeeee;
  *{
    background: #eeeeee;
  }
}



h1.faqfont{
  font-weight: 400;
  color: $text_c;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2em;

  // color: red;
}

.card{
  border-top: 1px solid #eeeeee;
}

.card-body{
  padding-left:0px;
}


.collap{
  margin-left: 3em;
  display: inline-block;
  font-size: 16px;
  color: $text_c;
  font-weight: 500;
}


.collap::after{
  content: url('../img/down.svg');
  margin-left: 10px;

}

#b1::before{content: url('../img/1.svg'); @include number;}
#b2::before{content: url('../img/2.svg'); @include number;}
#b3::before{content: url('../img/3.svg'); @include number;}
#b4::before{content: url('../img/4.svg'); @include number;}
#b5::before{content: url('../img/5.svg'); @include number;}
#b6::before{content: url('../img/6.svg'); @include number;}
#b7::before{content: url('../img/7.svg'); @include number;}

.collap:active::after{
      content: url('../img/up.svg');

    }

.collaptxt{
  // padding-left: 0px;
  font-size: 14px;
  color: $text_c;
  font-weight: 400;
  text-decoration: none;

}




.number{
  width: 21px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}


.faq-header {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.faq-btn{
  padding-left: 0px;
  box-shadow: 0 0 0 0rem rgba(255,255,255,0) !important;
  text-align: left;
}
