$text_c : #121212;
$border_c : #b6b6b6;
$faqfont : Rubik;



.section{
  color: $text_c;
  background: #fff;
  padding: 25px 0;
  position: relative;
  font-family: $faqfont;

}


.whiter {
  *{
      border: 0px;
      background: #fff ;
      color: $text_c;
}
}

h1.faqfont{
  font-weight: 400;
  color: $text_c;
  margin-bottom: 20px;

  // color: red;
}

.card{
  border-top: 1px solid $border_c;
}


.collap{
  display: inline-block;
  font-size: 16px;
  color: $text_c;
  font-weight: 500;
}

.collaptxt{
  font-size: 14px;
  color: $text_c;
  font-weight: 400;
  text-decoration: none;

}


.number{
  width: 21px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}


.faq-header {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.faq-btn{
  padding-left: 0px;
  box-shadow: 0 0 0 0rem rgba(255,255,255,0) !important;
}
