$text_c : #121212;
$border_c : #b6b6b6;
$faqfont : Rubik;



.section{
  color: $text_c;
  background: #fff;
  padding: 25px 0;
  position: relative;
  font-family: $faqfont;

}


.whiter {
  *{
      border: 0px;
      background: #fff ;
      color: $text_c;
}
}

h1.faqfont{
  font-weight: 300;


}

.card{
  border-top: 1px solid $border_c;
}


.collap{
  display: inline-block;
  font-size: 16px;
  color: $text_c;
  font-weight: 500;
}

.collaptxt{
  font-size: 14px;
  color: $text_c;
  font-weight: 400;

}


.number{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

// .faq-header{
//   padding: 0px !important;
//
// }
